body {
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    margin-top: 50px;
}

#question1,
#question2,
#question3,
#question4,
#question5,
#resultBlock,
.trueAnswer {
    display: none;
}

#questionBlock,
#resultBlock {
    border: 1px solid black;
    padding: 20px;
    padding-top: 0px;
}

#resultBlock {
    margin-bottom: 30px;
}

#questionBlock {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.choices {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

table,
tr {
    border: 1px solid black;
}
