body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 800px; /* Adjust this value to your preference */
    margin: 0 auto;
}

footer {
    margin-top: 50px;
}

#question1,
#question2,
#question3,
#question4,
#question5,
#resultBlock,
.trueAnswer {
    display: none;
}

#questionBlock,
#resultBlock {
    border: 1px solid black;
    padding: 20px;
    padding-top: 0px;
}

#resultBlock {
    margin-bottom: 30px;
}