<!-- 
    This is the main page of the app.
    Looking at the assignment guidelines, I think everything can be completed using a single page, simply by hiding elements that are not relevant at the moment.
    Thus this will be the direction I will take.
 -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Main Page</title>
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body>
        <header>
            <h1>Main Page</h1>
        </header>
        <main></main>
        </main>
        <footer>Made by Kevin Cheng for CMPT276 @2024</footer>
    </body>
</html>
